/*====== common style ======*/

/* link gg font */

/* link gg font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    min-width: 320px;
}

body {
    font-weight: 400;
    line-height: 1.4;
    color: #000;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}


.container {
    /* custum */
    max-width: 1170px;
    margin: 0 auto;
}


@media only screen and (max-width: 1240px) {
    header .header-inner-menu ul {
      -moz-column-gap: 15px;
           column-gap: 15px;
    }
    header .header-inner-incon {
      -moz-column-gap: 15px;
           column-gap: 15px;
    }
    header .header-inner-menu ul li {
      padding: 0;
    }
    .colection-for {
      -moz-column-gap: 20px;
           column-gap: 20px;
      align-items: stretch;
    }
    .footer-end-bottom {
      flex-wrap: wrap;
    }

    .text-h2{
        font-size: 50px;
    }
    .trading-flex-right{
        flex: unset;
    }
    .trading-flex-left{
        width: 40%;
    }

  }

